Source: ros-groovy-openni-camera
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-groovy-dynamic-reconfigure,libopenni-sensor-primesense-dev,ros-groovy-catkin,ros-groovy-roscpp,libopenni-dev,ros-groovy-camera-info-manager,ros-groovy-sensor-msgs,ros-groovy-image-transport,libusb-1.0-0-dev,ros-groovy-nodelet
Homepage: http://www.ros.org/wiki/openni_camera
Standards-Version: 3.9.2

Package: ros-groovy-openni-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-groovy-dynamic-reconfigure,libopenni-sensor-primesense-dev,ros-groovy-roscpp,libopenni-dev,ros-groovy-camera-info-manager,ros-groovy-sensor-msgs,ros-groovy-image-transport,libusb-1.0-0-dev,ros-groovy-nodelet
Description: A ROS driver for OpenNI depth (+ RGB) cameras. These include: Microsoft Kinect, PrimeSense PSDK, ASUS Xtion Pro and Pro Live The driver publishes raw depth, RGB, and IR image streams.
