Source: ros-indigo-openni-camera
Section: misc
Priority: extra
Maintainer: Julius Kammerl <jkammerl@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), liblog4cxx10-dev, libopenni-dev, libopenni-sensor-primesense-dev, libusb-1.0-0-dev, ros-indigo-camera-info-manager, ros-indigo-catkin, ros-indigo-dynamic-reconfigure, ros-indigo-image-transport, ros-indigo-nodelet, ros-indigo-roscpp, ros-indigo-sensor-msgs
Homepage: http://www.ros.org/wiki/openni_camera
Standards-Version: 3.9.2

Package: ros-indigo-openni-camera
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liblog4cxx10-dev, libopenni-dev, libopenni-sensor-primesense-dev, libusb-1.0-0-dev, ros-indigo-camera-info-manager, ros-indigo-dynamic-reconfigure, ros-indigo-image-transport, ros-indigo-nodelet, ros-indigo-roscpp, ros-indigo-sensor-msgs
Description: A ROS driver for OpenNI depth (+ RGB) cameras. These include: Microsoft Kinect, PrimeSense PSDK, ASUS Xtion Pro and Pro Live The driver publishes raw depth, RGB, and IR image streams.
